<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U9Blog</title>
    @using System.Web.Optimization;
    @*@Styles.Render("~/Content/css")*@
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("U9Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("目录", "List", "Home",new { area = "",id = "1" },new { @class = "navbar-brand", @style = "color:white" })</li>
                    <li>@Html.ActionLink("写作", "Index", "Admin",null, new { @class = "navbar-brand", @style = "color:white" })</li>
                    @if (Session["user"] == null)
                    {
                        <li>@Html.ActionLink("登陆", "Index", "Login", null, new { @class = "navbar-brand", @style = "color:white" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("退出", "LoginOut", "Login", null, new { @class = "navbar-brand", @style = "color:white" })</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - U9Blog</p>
        </footer>
    </div>


</body>
</html>
